@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    /*1rem = 100px;   720设计稿*/
    font-size: calc(100vw / 7.2);
    font-size: -webkit-calc(100vw / 7.2);
    -webkit-text-size-adjust: 100%;
    /*去除高亮*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
    text-decoration: none;
}



/*去除chrome下图片边框*/

select,
input,
img {
    vertical-align: middle;
}

*:focus {
    outline: medium;
}

ul,
ol {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select,
textarea,
input,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*去除高亮*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: ' ';
}

.clearfix:after {
    clear: both;
}


/** *文本溢出点点点*/

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis-3 {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

textarea {
    resize: none;
}





